
<div class="container-fluid mb-5">
<div class="row">
    <% @cats.each do |cat| %>
        <%# <% if cat.products.where(featured: true).first.image.attached? %>
            <%# <%= image_tag(cat.products.where(featured: true).first.image, class:'img-fluid', id:'featured_img' )%> 
        <%# <% end %> 
        <div class="col-12 container bg-dark text-light">
            <h1 style= text-align:center> 
                <%= cat.heading %>
            </h1>
        </div>
        <% @product.each do |product| %>
            <% if product.category == cat %>
                <div class="col-4 container my-5 mx-auto" >
                    <div class="card">
                    <%= image_tag(product.image, class:'img-fluid', id:'featured_img' )%>
                    <div class="card-body">
                        <h4 class="card-title"><%= product.name %></h4>
                        <h5 class="card-description"><%= product.description %></h5>
                        <p class="card-text"><%= product.price %> <%= "| Available for catering" if product.catering %></p>
                        <%= form_with model: @order_item do |f| %>
                        <%= f.hidden_field :product:id, value: product.id %>
                        <%= f.number_field :quantity, value: 1, min: 1 %>
                        <%= f.submit "Add to cart" %>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    </div>
                </div>
                    <% end %>
            <% end %> 

        <% end %>
</div>



</div>

