<%= render 'menu/submenu' %>
    <div class="menu-container  mt-5">
        <div class="row ">
            <% 3.times do %>
            <% @product.each do |product| %>
            <div class="col-4">
                
                <%# rockweell %>
                <%= image_tag("/#{product.name}.jpeg", alt: 'pizza', width:"250", class:"img-fluid")%>
                <h5><%= product.name %></h5>
                <%# segoe ui %>
                <p><%= product.description %></p>
                <p><%= product.price %> | <%= product.catering ? "Available for catering" : "" %></p>
            </div>
            <% end %>
            <% end %>
        </div>
    </div>
